// content

#main-wrapper { padding: 0 0 20px; }
.front #main-wrapper { padding: 0; }
.front #hero { padding: 0; }
.front #hero img { display: block; }
.front #quotations { margin: 20px 0; font-size: 1.3334em; }
.front #quotation-links p { margin-bottom: 1em; }
.front #quotation-links a { color: $medium-gray; }
.no-touch .front #quotation-links a:hover { color: $light-orange; }
.front #quotation-links a.button { color: #fff; text-align: center; font-family: $header; font-size: 2em; line-height: 1.1em; padding-top: 0.5em; padding-bottom: 0.5em; text-transform: uppercase; }
.no-touch .front #quotation-links a.button:hover { color: #fff; }

#front-cta-wrapper { padding: 20px 0 30px; }
#front-cta .button-cta { font-family: $header; text-transform: uppercase; font-size: 1.6em; text-align: center; margin-bottom: 0; }

#blog-view-front { padding-bottom: 20px; }
#blog-view-front h2 { text-transform: uppercase; border-top: 1px solid $yellow; padding-top: 30px; }

#front-issues-wrapper { background: $very-light-orange; padding: 20px 0 10px; }
#front-issues li { margin-bottom: 10px; }
#front-issues li:nth-of-type(3) { clear: left; }
#front-issues h2 { text-transform: uppercase; }
#front-issues ul { list-style: none outside none; margin: 0; padding: 0; }
#front-issues .issue-image img { @include border-radius(50%); }
#front-issues p { font-family: $header; text-align: center; color: $burgundy; margin: 0; }

#front-secondary-wrapper { padding: 20px 0; }

.not-front #hero { display: none; }

.messages { border: 1px solid $light-gray; @include border-radius(5px); padding: 10px; margin-bottom: 1.3334em; }
.messages .dismiss { float: right; font-size: 2em; margin-left: 1em; }

.prevnext { font-size: 0.8em; margin: 1em 0; }
.prev { float: left; }
.next { float: right; }

.meta { margin-bottom: 1em; }
.meta-item { display: block; float: left; width: 25%; text-align: center; }
.meta-item .fa { font-size: 2em; margin-bottom: 0.16667em; }
.meta-active .fa { color: $dark-orange; }
.meta-item-content { display: none; width: 400%; }
.meta-active .meta-item-content { display: block; text-align: left; }
.meta-item.comments .meta-item-content { margin-left: -100%; }
.meta-item.author .meta-item-content { margin-left: -200%; }
.meta-item.categories .meta-item-content { margin-left: -300%; }

#content p.image-container { margin-left: -20px; margin-right: -20px; }
#content p.image-container img { border: none !important; }

#comments { display: none; margin-top: 20px; border-top: 1px solid $light-gray; padding-top: 20px; }
#comments h2 { color: $green; }
#comment-disclaimer { color: $medium-gray; }
#comments ol { list-style: none outside none; margin: 2em 0; }
#comments ol li { margin: 0 0 2em; border-bottom: 1px solid $light-green; padding: 0 0 2em; }
#comment-form fieldset { border: none; padding: 0; }
#comment-form label { display: block; margin-top: 1em; }

.social-shares { margin-top: 20px; margin-bottom: 20px; max-width: 420px; }
.social-shares .row { margin-left: -5px; margin-right: -5px; }
.social-shares .col-xs-4 { padding-left: 5px; padding-right: 5px; }
a.share { text-align: center; padding-top: 1em; padding-bottom: 1em; }
a.share-facebook { background: $facebook-blue; border-color: $facebook-blue; }
a.share-twitter { background: $twitter-aqua; border-color: $twitter-aqua; }
a.share i.fa { font-size: 2em; margin: 0; color: #fff; }
a.share span { display: block; font-size: 0.6667em; line-height: 1.2em; }

.email-signup-blog { margin: 20px 0; }
.email-signup-blog h2 { color: $green; }
.email-signup-blog input { border-color: $green; }
.email-signup-blog input[type="submit"] { font-family: $header; text-transform: uppercase; background: $green; border-color: $green; }

@media screen and (max-width: 767px) {
	#blog-view-front h3 { padding-top: 20px; border-top: 1px solid $yellow; margin-top: 20px; }
	#blog-view-front article:nth-of-type(1) h3 { padding-top: 0; border-top: none; margin-top: 0; }
	#front-secondary-wrapper { padding-top: 0; }
	.section-header-image { padding-left: 0; padding-right: 0; padding-bottom: 20px; }
}

// iPad in portrait mode or larger
@media screen and (min-width: 768px) {

	#main-wrapper { padding: 50px 0 40px; }
	.front #main-wrapper { padding: 40px 0; }
	
	.front #hero { padding-left: 20px; padding-right: 20px; }
	.front #quotations { margin-top: 0; font-size: 1.3334em; }
	
	#front-cta-wrapper { padding-bottom: 50px; }
	#front-cta .button-cta { font-size: 1em; text-align: left; }
	
	#blog-view-front h2 { padding-top: 40px; }
	#blog-view-front h2, #front-issues h2 { font-size: 2em; }
	
	#front-issues-wrapper { padding-top: 40px; }
	#front-issues .issue-image { margin: 0 15%; }
	#front-issues li { margin-bottom: 30px; }
	#front-issues p { font-size: 1.3334em; }

	#front-secondary-wrapper { padding: 40px 0; }
	
	.not-front #hero { display: block; }
	.hero-image-container { overflow: hidden; height: 0; padding-bottom: 100%; margin-left: 0; margin-right: 0; }
	.hero-image-container img { max-width: 160%; margin-left: -30%; }
	.hero-image-credit { font-size: 0.8em; text-align: center; font-style: italic; margin: 0.5em 0; }
	
	#content .hero-image, #content .hero-image-credit { display: none; }
	
	.prevnext { position: absolute; top: -35px; left: 20px; right: 20px; margin: 0; }

	.meta { font-size: 0.8em; line-height: 1em; border-top: 1px solid $light-gray; border-bottom: 1px solid $light-gray; padding: 0.5em 0; }
	.meta-item { width: auto; margin: 0.5em 1em 0.5em 0; text-align: left; }
	.meta-item .fa { font-size: 1em; margin-bottom: 0; margin-right: 0.25em; }
	.meta-active .fa { color: $base-text; }
	.meta-item-content { display: inline; width: auto; }
	.meta-active .meta-item-content { display: inline; }
	.meta-item.comments .meta-item-content,
	.meta-item.author .meta-item-content,
	.meta-item.categories .meta-item-content { margin-left: 0; }
	
	#content p.image-container img { border: 1 px solid $base-text !important; }
	
	// .social-shares .row { margin-left: -10px; margin-right: -10px; }
	// .social-shares .col-xs-4 { padding-left: 10px; padding-right: 10px; }
	a.share i.fa { font-size: 3em; }
	a.share span { font-size: 0.8em; }
	.email-signup-blog { margin: 40px 0; }
}

@media screen and (min-width: 992px) {
	.front #quotations { font-size: 1.6em; margin-bottom: 1em; }
	
	#front-issues-wrapper { padding-bottom: 0; }
	#front-issues .issue-image { margin: 0 20%; }
	#front-issues li { margin-bottom: 40px; }
	#front-issues p { font-size: 1.6667em; line-height: 1em; }
	
	#content p, #content ul, #content ol, #comments { max-width: 560px; }
}

@media screen and (min-width: 1200px) {
	.front #quotations { font-size: 2.3334em; margin-bottom: 1em; }
	.front #quotation-links { font-size: 1.3334em; line-height: 1.5em; }
	
	#front-issues .issue-image { margin: 0 25%; }
	#front-issues p { font-size: 2em; margin-top: 0.3334em; line-height: 1em; }
	
}