// header

#header { padding-top: 10px; height: 155px; border-bottom: 70px solid $burgundy; }
.js #header { padding-top: 50px; height: 195px; }
#header #logo { display: block; z-index: 20; }
#header #logo img { display: block; margin: 0 auto; }
#header .site-name { position: absolute; left: -999em; }
#header .site-slogan { position: absolute; left: -999em; }
#header { height: 105px; }

#header nav.secondary { float: right; }
#header nav.secondary li { display: inline; }
#header nav.secondary li:before { content: ' | '; }
#header nav.secondary li:nth-child(1):before { content: ''; }

#header .links-social { float: right; clear: right; padding-top: 10px; }

.links-social { list-style: none outside none; }
.links-social .fa { font-size: 1.6em; position: relative; top: 6px; }
.links-social .fa-envelope { display: none; }
.links-social input { padding: 2px; width: 140px; }
.links-social input[type="submit"] { width: 30px; margin: 0; background: $dark-orange; }
.links-social li { display: inline; margin-left: 0.8em; }
.links-social li span { position: absolute; left: -999em; }

@media screen and (min-width: 768px) {
	#header, .js #header { padding-top: 20px; padding-bottom: 20px; height: 105px; border-bottom: none; position: relative; }
	#header #logo { position: absolute; left: 20px; top: 20px; }
	#header .site-name { margin-bottom: 0; }
	#header .site-slogan { margin-bottom: 0; }
}
