// navigation

.navigation-header { cursor: pointer; margin: 10px 0 0; float: left; }
.navigation-header span { position: absolute; left: -999em; }

#navigation-wrapper { display: none; padding: 20px 0; background: $burgundy; color: $yellow; }
#navigation-wrapper a { color: $yellow; }
.no-touch #navigation-wrapper a:hover { color: $light-orange; }
#navigation ul.main-menu { float: right; position: relative; top: 2px; }
#navigation ul.main-menu li { float: left; }
#navigation ul.main-menu li a { display: block; padding: 0 0 0 1em; font: 1.3334em/1em $header; text-transform: uppercase; }

// footer navigation styles are here because we're using the footer menu as the mobile menu

#footer .main-menu > ul { background: $burgundy; font-size: 1.3334em; z-index: 500; }

#footer .main-menu > ul ul { clear: both; margin: 0; padding: 0 1em; }
#footer .main-menu ul li { padding: 0; border-bottom: 1px solid #fff; }
#footer .main-menu ul li a,
#footer .main-menu ul li span.nolink,
#footer .main-menu ul li span.separator { color: #fff; padding: 0.75em 0.5em; display: block; line-height: 1em; }
#footer .main-menu ul li.has-children > a,
#footer .main-menu ul li.has-children > span.nolink { float: left; padding-right: 0.25em; cursor: pointer; }
#footer .main-menu ul li.has-children:after { content: ''; display: table; clear: both; }

#footer .main-menu li ul li { border-bottom: none; }

// only apply these css styles if javascript is enabled
.js #footer .main-menu > ul { position: fixed; width: 300px; overflow-x: hidden; overflow-y: auto; top: 0; bottom: 0; left: -300px; @include transition-property(left); @include transition-duration(0.15s); padding-top: 40px; -webkit-overflow-scrolling: touch; }
.js #footer .main-menu > ul.open { left: 0; }
.js #footer .main-menu > ul ul { position: absolute; left: -9999em; }
.js #footer .main-menu > ul ul.open { position: relative; left: auto; }

#footer .main-menu ul li.menu-dismiss { position: absolute; top: 15px; right: 15px; font-size: 2em; cursor: pointer; border-bottom: none; }
#footer .main-menu ul li .menu-toggle { content: ''; float: right; display: block; height: 0; width: 0; border: 0.6em solid transparent; margin: 0.8em 1em 0 0.3334em; cursor: pointer; }
#footer .main-menu ul li .menu-toggle.closed { border-top-color: $very-dark-gray; }
#footer .main-menu ul li .menu-toggle.open { margin-top: 0.2em; border-bottom-color: $very-dark-gray; }

@media screen and (max-width: 767px) {
	.js #footer nav { position: fixed; top: 0; left: 0; right: 0; background: $very-light-orange; height: 50px; z-index: 40; }
	.js body.menu-open #footer nav { z-index: 60; }
}

// iPad in portrait mode or larger
@media screen and (min-width: 768px) {
	
	#navigation-wrapper { display: block; }
	#navigation-wrapper.fixed { position: fixed; z-index: 20; top: 0; left: 0; right: 0; padding: 15px 0; @include transition-property(padding); @include transition-duration(0.15s); }
	#navigation { @include transition-property(padding); @include transition-duration(0.15s); }
	#navigation-wrapper.fixed #navigation { padding-right: 135px; }
	body.navigation-wrapper-fixed { padding-top: 165px; }

	.js #footer nav { position: relative; top: auto; left: auto; right: auto; }
	#footer .navigation-header { position: absolute; left: -999em; }
	#footer .main-menu ul li.menu-dismiss { display: none; }
	#footer .main-menu > ul, .js #footer .main-menu > ul { width: 100%; position: relative; top: auto; bottom: auto; left: auto; overflow: visible; font-size: 1em; padding: 1em 0; text-align: center; }
	#footer .main-menu > ul:after { content: ''; display: table; clear: both; }
	#footer .main-menu ul li { display: inline-block; border-bottom: none; position: relative; }
	#footer .main-menu > ul.open { left: auto; }
	#footer .main-menu ul li a,
	#footer .main-menu ul li span.nolink,
	#footer .main-menu ul li span.separator { padding: 0 0.4em 0 0.6em; border-left: 1px solid $yellow; }
	#footer .main-menu ul li:nth-child(1) a { border-left: none; }
	#footer .main-menu ul li.has-children > a,
	#footer .main-menu ul li.has-children > span.nolink { padding-right: 0.25em; }
	#footer .main-menu li ul { top: 3em; width: 100%; background: $very-light-gray; z-index: 500; margin-left: 0em; padding: 0; }
	#footer .main-menu li ul li { float: none; }
	
	.js #footer .main-menu li ul { position: absolute; left: -999em; }
	.js #footer .main-menu li ul.open { position: absolute; left: auto; }
	.js #footer .main-menu li li ul.open { left: 100%; top: 0; }
	#footer .main-menu ul li .menu-toggle { margin-top: 1.2em; }
	#footer .main-menu ul li .menu-toggle.open { margin-top: 0.6em; }
	
}

@media screen and (min-width: 992px) {
	#navigation ul.main-menu li { margin-left: 0.6em; }
}

@media screen and (min-width: 1200px) {
	#navigation ul.main-menu li { margin-left: 1em; }
}
