html, body { height: 100%; }
.chromeframe { margin: 0.2em 0; background: $light-gray; color: $base-text; padding: 0.2em 0; }

/* simple clearfix */

.clearfix:before, .clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.site-name, .site-slogan { margin-bottom: 0; }
.site-name, .site-name a, .no-touch .site-name a:hover { color: $link-blue; }
.site-slogan { font-weight: 300; font-style: italic; }
.site-slogan, .site-slogan a, .no-touch .site-slogan a:hover { color: $dark-orange; }

body { background: $light-orange; }

// header

#header-wrapper {
	padding-bottom: 0;
	background: $light-orange;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orange', endColorstr='$light-orange');
	background: -webkit-gradient(linear, left top, left bottom, from($orange), to($light-orange));
	background: -moz-linear-gradient(top,  $orange,  $light-orange);
}
// .front #header-wrapper { border-bottom: 2px solid $link-blue; }
#header { padding-top: 10px; padding-bottom: 10px; }
.menu-mobile #header { padding-right: 70px; }
#header #logo { width: 60px; float: left; margin: 0 10px 0 0; }
#header #logo img { display: block; }
#header .site-name { padding-top: 10px; font-size: 1.3334em; line-height: 1em; }
#header .site-slogan { display: none; }

#main-wrapper { padding-bottom: 20px; }
.front #main { background: $light-orange url(../images/background-front-300.jpg) no-repeat top center; padding-top: 180px; }

// content

.messages { border: 1px solid $light-gray; @include border-radius(5px); padding: 10px; margin-bottom: 1.3334em; }
.messages .dismiss { float: right; font-size: 2em; margin-left: 1em; }

#feature-image { padding-left: 0; padding-right: 0; margin-bottom: 20px; }

#content h1 { color: $link-blue; }
// #content h1 { background: $link-blue; padding: 5px 10px; display: inline-block; color: $light-orange; }

#cta { text-align: center; padding-bottom: 40px; }
#cta .button { line-height: 70px; padding: 0 0.75em; font-size: 1.6em; margin: 0; }
#cta .button .fa { margin-left: 0.25em; }
.no-touch #cta .button-donate:hover { background: $medium-light-blue; }

#front-page-widgets { max-width: 980px; }
#front-page-widgets .widget { padding-bottom: 60px; position: relative; padding-top: 20px; }
#front-page-widgets .widget .icon-background { position: absolute; left: 0px; top: -16px; width: 100px; height: 100px; z-index: -1; }
#front-page-widgets .widget h2 { margin-bottom: 1.75em; }

#utility-inner { text-align: center; font-size: 2em; margin: 0 0 1em; }

// footers

#footer-wrapper { background: $orange; padding: 20px 0; color: #fff; }
.no-touch #footer-wrapper a:hover { color: $light-orange; }
#footer-wrapper.fixed { position: fixed; left: 0; right: 0; bottom: 0; }
#footer .col-xs-12 { margin-bottom: 1em; }
#footer p { text-align: center; }
#footer .button.button-donate { width: 200px; }

// iPad in portrait mode or larger
@media screen and (min-width: 768px) {
	
	// #header-wrapper { background: $link-blue; }
	#header-wrapper { border-bottom: 6px solid $link-blue; }
	// #header-wrapper:after { content: ''; display: block; width: 100%; border-bottom: 3px solid $orange; }
	#header { padding-top: 10px; height: 106px; padding-bottom: 10px; }
	#header #logo { float: left; width: 199px; display: block; height: 96px; margin: 0 20px 0 0; position: relative; }
	#header #logo img { position: absolute; top: 0; left: 0; z-index: 5; }
	#header .site-name { padding-top: 35px; font-size: 2em; line-height: 1em; text-align: left;  }
	#header .site-slogan { display: block; font-size: 0.86667em; text-align: left; clear: none; }
	// #header .site-name a { color: #fff; }
	
	.navigation-header { font-size: 2em; margin-top: 38px; }
	
	#main-wrapper { padding-top: 60px; padding-bottom: 40px; }
	#main { padding-left: 100px; padding-right: 100px; }
	.front #main { background: $light-orange url(../images/background-front-500.jpg) no-repeat top center; padding-top: 300px; }
	
	.front #content { font-size: 1.2em; line-height: 1.5em; }
	.front #content p { position: relative; }
	.front #content p:before { font-family: FontAwesome; content: '\f0a9'; position: absolute; top: 0; left: -1.3334em; top: 0.25926em; font-size: 3em; color: $medium-light-orange; }
	
	#cta .button { padding: 0 1em; font-size: 2em; }
	#cta .button .fa { margin-left: 0.33334em; }
	
	#feature-image { padding-left: 20px; padding-right: 20px; }
	#footer .col-sm-4 { margin-bottom: 0; }
}

@media screen and (min-width: 980px) {
	
	#header .site-name { padding-top: 20px; font-size: 3em; }
	#header .site-slogan { font-size: 1.2em; }
	
	// #main-wrapper { padding-top: 60px; }
	#main { padding-left: 20px; padding-right: 20px; }
	.front #main { background: $light-orange url(../images/background-front-400.jpg) no-repeat 0 60px; min-height: 300px; padding-top: 0; }
	#feature-image img { margin-top: 72px; }
	
	#utility-wrapper { position: absolute; top: 0; left: 0; right: 0; }
	#utility { position: relative; }
	#utility-inner { position: absolute; top: 40px; right: 80px; }
	
}

@media screen and (min-width: 1200px) {
	.front #main { background: $light-orange url(../images/background-front-500.jpg) no-repeat 0 40px; min-height: 340px; }
}




