{% if hifi.http.get.theme == '2017' %}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:fb="http://ogp.me/ns/fb#" lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Interfaith Worker Justice</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Jim+Nightshade|Fjalla+One|Lato:400,400i,700' type='text/css' media='all' />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>{% block title %}{{ settings.meta.title|e }}{% endblock %}</title>
    {% block ogmeta %}{% include 'snippets/opengraph_meta.html' %}{% endblock ogmeta %}
    <meta name="description" content="{{ settings.meta.description }}" />
    <link rel="shortcut icon" href="{{ hifi.url.images }}favicon.ico" />
    {% block rss %}<link rel="alternate" type="application/rss+xml" title="{{ hifi.settings.title }} Blog" href="/blog.rss" />{% endblock rss %}

    {% css "iwj2017/reset" min %}
    {% css "iwj2017/bootstrap.min.css" min %}
    {% css "iwj2017/screen.less" min %}
    {% js "iwj2017/modernizr.js, iwj2017/fastclick.min.js, iwj/hammer.mins.js" %}
    <script src="https://use.fontawesome.com/1a216137ba.js"></script>
        
    {% if hifi.user.email != 'admin@gethifi.com' %}{% include 'snippets/analytics.html' %}{% endif %}
    <meta name="google-site-verification" content="u99IZghOLq2R6rs2-xhvuZkhVnewwNuCU8qoLwQ_1fk" />
</head>
    
<body {% block bodyclass %}class="not-front"{% endblock bodyclass %}>
    
        <h1>2017 Theme Under Construction...</h1>
        
{% block js %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {% js "iwj2017/jquery.validate.js,hifiapi,jquery.colorbox,iwj2017/uwfutil.js" min %}
{% endblock js %}
{% block pageJS %}{% endblock pageJS %}
</body>
</html>

{% else %}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:fb="http://ogp.me/ns/fb#" lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{{ settings.meta.title|e }}{% endblock %}</title>
    {% block ogmeta %}{% include 'snippets/opengraph_meta.html' %}{% endblock ogmeta %}
    <meta name="description" content="{{ settings.meta.description }}" />
    <link rel="shortcut icon" href="{{ hifi.url.images }}favicon.ico" />
    {% block rss %}<link rel="alternate" type="application/rss+xml" title="{{ hifi.settings.title }} Blog" href="/blog.rss" />{% endblock rss %}
    {% block css %}{% css "new-all.less" %}{% endblock css %}
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if IE 8 ]>{% css "ie/ie8" min %}<![endif]-->
    <!--[if IE 7 ]>{% css "ie/ie7" min %}<![endif]-->
    <!--[if lt IE 7 ]>{% css "ie/ie6" min %}<![endif]-->
    {% if hifi.user.email != 'admin@gethifi.com' %}{% include 'snippets/analytics.html' %}{% endif %}
    <meta name="google-site-verification" content="u99IZghOLq2R6rs2-xhvuZkhVnewwNuCU8qoLwQ_1fk" />
</head>
<body {% block pageid %}{% endblock pageid %}>
<header id="h">
    <div id="h-container">
        <h1><a href="{% block logourl %}/{% endblock logourl %}">{% block logo %}{{ hifi.settings.title|e }}{% endblock logo %}</a></h1>
        {% block headerextras %}
        <p id="tagline">This is what religion looks like.</p>
        <ul id="social-buttons">
            <li><a id="blog-button" href="/blog">Blog</a></li>
            {% set twitterurl as hifi.get({'type':'link','title':'Twitter'})[0] %}
            <li><a id="twitter-button" href="{{ twitterurl.url }}">Twitter</a></li>
            {% set facebookurl as hifi.get({'type':'link','title':'Facebook'})[0] %}
            <li><a id="facebook-button" href="{{ facebookurl.url }} ">Facebook</a></li>
            {% set youtubeurl as hifi.get({'type':'link','title':'Youtube'})[0] %}
            <li><a id="youtube-button" href="{{ youtubeurl.url }}">Youtube</a></li>
        </ul>
        <a id="search-toggle" data-target="#h form"><span>Search</span><i class="icon-search"></i></a>
        <form action="/search" method="get">
            <input type="text" name="keywords" />
            <input type="submit" value="Submit"  />
        </form>
        {% endblock headerextras %}
        {% block headernav %}
        <nav id="nav">
            <a id="nav-toggle" data-target="#nav > ul"><span>Menu</span><i class="icon-menu"></i></a>
            {% import 'snippets/navigation/navigation.html' as navigation %}
            {{ navigation.draw({maxDepth: 2,includeLevelClass:true}) }}
        </nav>
        {% endblock headernav %}
    </div><!--end .container-->
</header><!--end #h-->
{% block all %}
<div {% if this.custom.page_header.include_top_stories == "Yes" %}class="top-stories-included"{% endif %} id="main">
    {% block main %}
        {% block body %}
            <div class="container">
            <section id="primary" class="left">
                {% if this.custom.page_header.include_top_stories == "Yes" %}
                    <section id="page-featured-stories">
                        <ul id="mini-previews">
                            {% for story in hifi.get({'type':'link', 'parent': {id: '8c97ecc62f5744dfa182c33d21bcd773'}, 'inMenu':true, 'orderBy':'ordinal'  }) %}
                                <li><a href="{{ story.url }}"><img src="{{ story.custom.top_stories.preview_image|imagesize({width:100,height:61,crop:true}) }}" alt="{{ story.title }}"></a></li>
                            {% endfor %}
                        </ul>
                    </section><!--end #page-featured-stories-->
                {% endif %}
                {% block primary %}
                <article class="content">
                    <header>
                    {% block header %}
                        {% block headerImage %}
                        {% if this.custom.page_header.include_page_header_image == "Yes" %}
                            {% if this.custom.page_header.header_image %}
                                <img src="{{ this.custom.page_header.header_image|imagesize({width:627,height:120,crop:true}) }}" alt="{{ this.title }}" />
                            {% else %}
                                <img src="{{ hifi.url.images}}page/page-top.jpg" alt="{{ this.title }}" />
                            {% endif %}
                        {% endif %}
                        {% block arrows %}{% endblock arrows %}
                        {% endblock headerImage %}
                        <h1>{% block contenttitle %}{{ this.title }}{% endblock %}</h1>
                    {% endblock %}
                    </header>
                    {% block content %}
                    {{ this.content }}
                    {% endblock content %}
                    <div class="social-shares">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="IWJNational">Tweet</a>
                        <fb:like send="true" width="450" show_faces="true"></fb:like>
                    </div><!--end #social-shares-->
                </article>
            {% endblock primary %}
            </section><!-- left -->
            <aside class="right" id="sidebar">
            {% block sidebar %}
                {% include 'common/sidebar.html' %}
            {% endblock sidebar %}
            </aside><!-- right -->
            </div><!--end .container-->
        {% endblock body %}
    {% endblock main %}
</div><!--end #main-->
{% endblock all %}
<footer id="f">
    <div class="container">
        {% block footer %}
        <div id="f-columns">
            <article id="f-1">
                {% set f1 as hifi.get({ id: '280083b54e4542b4ac9d36e22da9c77b' })[0] %}
                <h2>{{ f1.title }}</h2>
                <a rel="videobox" href="http://www.youtube.com/v/{{ f1.custom.footer.youtube_video_id }}">{{ f1.content }}</a>
                <a rel="videobox" class="video-preview" href="http://www.youtube.com/v/{{ f1.custom.footer.youtube_video_id }}">
                    <img src="http://img.youtube.com/vi/{{ f1.custom.footer.youtube_video_id }}/1.jpg" alt="Watch this" />
                    <img class="play-video" src="{{ hifi.url.images }}play-overlay-black.png"> 
                </a>
            </article><!--end #f-1-->
            <article id="f-2">
                {% set f2 as hifi.get({ id: '65491e5be0e242fbba42b90e931d06ec' })[0] %}
                <h2>{{ f2.title }}</h2>
                <a href="{{ f2.custom.footer.section_link }}"><img src="{{ hifi.url.images }}footer/col-2-placeholder.png" alt="Facebook" /></a>
                <a href="{{ f2.custom.footer.section_link }}">{{ f2.content }}</a>
            </article><!--end #f-2-->
            <article id="f-3">
                {% set f3 as hifi.get({ id: '0x7c70aaa546fe44f99e9dde0c8f61de5f' })[0] %}
                <h2>{{ f3.title }}</h2>
                {# {{ f3.content }} #}
                <a href="{{ f3.url }}">Head over to the IWJ Store</a>
            </article><!--end #f-3-->
        </div><!--end #f-columns-->
        <nav>
            {{ navigation.draw({maxDepth:1, itemTemplate:'/snippets/navigation/footer-item.html'}) }}
        </nav>
        <p id="credit"><a href="/privacy-policy">Privacy Policy</a> | <a target="blank" href="http://www.newmediacampaigns.com/services/non-profit-web-design">Non-Profit Web Design</a> by New Media Campaigns</p>
        {% endblock footer %}
    </div><!--end .container-->

</footer><!--end #f-->
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% js "validate,hifiapi,jquery.colorbox,setup" min %}
{% endblock js %}
{% block pageJS %}{% endblock pageJS %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<!--[if lt IE 7 ]>
    <script src="{{ hifi.url.scripts }}transparency.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg, a, .outside-jump');</script>
<![endif]-->
</body>
</html>

{% endif %}